.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___0HVqn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___9EXcY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9EXcY {
    display: flex;
    flex-direction: column-reverse;
  }
}
.freeBox__nJvGq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nJvGq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nJvGq > :global(.__wab_flex-container) > *,
.freeBox__nJvGq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nJvGq > :global(.__wab_flex-container) > picture > img,
.freeBox__nJvGq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__l3D5H {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 20px 20px 0px;
  border: 1px solid #d0d2d6;
}
.text__vpZg3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  line-height: 3;
  min-width: 0;
}
.consultInvoiceDetails:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___8IKdk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 15px 8px;
}
.freeBox___8IKdk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___8IKdk > :global(.__wab_flex-container) > *,
.freeBox___8IKdk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8IKdk > :global(.__wab_flex-container) > picture > img,
.freeBox___8IKdk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__fLdF {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text___0Rjd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__m1T7J {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 15px 8px;
}
.freeBox__m1T7J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__m1T7J > :global(.__wab_flex-container) > *,
.freeBox__m1T7J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m1T7J > :global(.__wab_flex-container) > picture > img,
.freeBox__m1T7J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__sJnjK {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-Bo2_tT25lwh4);
  flex-shrink: 0;
}
.text__u2Wyt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
}
.freeBox__eEt0R {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #d0d2d6;
}
.freeBox__p7UQ8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zLn2W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__dqiUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__stFce {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2YxWz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gpnfY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__iufFm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text___8USsm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.discountRow {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tpQtF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fkfEa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-sD0iOLam3c1_);
  min-width: 0;
}
.text__iGvCl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-sD0iOLam3c1_);
  min-width: 0;
}
.freeBox__zpxjm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px solid #d0d2d6;
}
.freeBox__sBOnP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 419.8333435058594px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__nlPCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  min-width: 0;
}
.text__hxZdH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-kpM4b4mG4f2d);
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__h4RQm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6Et52 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg___7GQyM {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  width: 24px;
  height: 24px;
  color: var(--token-kpM4b4mG4f2d);
  flex-shrink: 0;
}
.text__oXPvR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  margin-right: 10px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 20px;
}
.freeBox___4Oq46 {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.accordionItem___0D2Rh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__meZkp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox___1SJob {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.txtDiscount:global(.__wab_instance) {
  max-width: 100%;
  margin-left: 15px;
}
.svg__d6ToN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ob6G8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__hyD7Y:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rwoIp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4Htf {
  user-select: text;
}
.svg__i7Q2A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordionItem__uDaR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__g1Meb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__d9Tol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__lRwjT:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.svg__v8JTk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__h6Vub {
  text-align: center;
}
.svg__lpFm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__g0Crk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g0Crk {
    width: 100%;
    min-width: 0;
  }
}
.getBooks:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__x8YkE {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 15px 8px;
}
.freeBox__x8YkE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__x8YkE > :global(.__wab_flex-container) > *,
.freeBox__x8YkE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x8YkE > :global(.__wab_flex-container) > picture > img,
.freeBox__x8YkE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__pnTbF {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__aG7Rb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__qxTsw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 15px 8px;
}
.freeBox__qxTsw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__qxTsw > :global(.__wab_flex-container) > *,
.freeBox__qxTsw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qxTsw > :global(.__wab_flex-container) > picture > img,
.freeBox__qxTsw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg___2GkUj {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-Bo2_tT25lwh4);
  flex-shrink: 0;
}
.text__g1EDm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
}
.freeBox__ylpd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #3861fb80;
}
.freeBox__pNjAk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #e2e8f0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 70px;
  width: 70px;
  flex-shrink: 0;
  border-radius: 70px;
  margin: 8px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__wn4SZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wn4SZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__wn4SZ > :global(.__wab_flex-container) > *,
.freeBox__wn4SZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wn4SZ > :global(.__wab_flex-container) > picture > img,
.freeBox__wn4SZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__eKnJa {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  min-width: 0;
}
.text___04LL {
  width: auto;
  font-weight: 700;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  text-align: right;
  font-size: 14px;
  line-height: 30px;
}
.text__ptr9Z {
  position: relative;
  width: auto;
  height: auto;
  color: #00acac;
  background: #e2e8f080;
  text-align: center;
  left: auto;
  top: auto;
  transition-property: all;
  transition-duration: 1s;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 12px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 5px;
  padding: 5px;
}
.text__w4DnZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 12px;
  min-width: 0;
}
.text__kVey {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 14px;
  color: #535353;
  padding-right: 5px;
  padding-left: 5px;
  min-width: 0;
}
.span___4REPo {
  font-weight: 700;
  color: #3861fb;
}
